* {
    font-family: "Calibri";	
    margin: 0;
    padding: 0;
}

div {
}

a {
    text-decoration: none;
    color: #fff;    
}

#clear {
	clear: both;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

/**********/
/* Banner */
/**********/
#banner {
	height: 300px;
}

#banner h2 {
	font-weight: regular;
	font-size: 60px;
	
}

#banner .logo {
	position: relative;
	top: 25px;
	width: 222px;
	height: 223px;
	margin: 0 auto;
}
/***********/
/* CONTENT */
/***********/
#content {
	color: #000;
	padding: 96px 39px 39px 39px;
}


/********/
/* MENU */
/********/
#menu {
	border-top: 15px solid #fff;
	height: 35px;	
	font-size: 30px;
}

#menu .button {
	float: left;
	margin: 10px 39px;
}

#menu .button ul {
	margin: 10px;
}